.titulo-principal__numero span
  color: $color-sistema-texto
span.etiqueta
  font-weight: 800  
figcaption
  background-color: #E8E8E8
  font-weight: 400
.boton.color-acento-botones *, .color-acento-botones.boton--sm *
  color: $color-sistema-texto  

.bg-secundario-1
  background-color: #FFECB3
.bg-secundario-2
  background-color: #FFFAE8
.bg-acento-contenido-1
  background-color: #43A047  
.border-acento-contenido
  border: 1px solid #43A047  
.border-bottom-verde
  border-bottom: 7px solid #43A047
.lista-acento-botones.lista-ul--color li > i:first-of-type
  color: #28C65D
.titulo-tercero
  background-color: #FFECB3
  border-top-left-radius: 6px
  border-top-right-radius: 20px  
  border-bottom-left-radius: 6px  
  border-bottom-right-radius: 6px   
.titulo-tercero-2 span   
  background-color: #43A047 
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px    
  padding: 5px 10px
.border-primario
  border-top: 2px solid #C99A28 
  border-bottom: 2px solid #C99A28    

.fondo-video
  background-image: url(../assets/curso/fondo-video.png)
.fondo-componente
  background-image: url(../assets/curso/fondo-componente.png) 
  background-size: cover
  background-repeat: no-repeat 
.lista-circulo i
  font-size: 9px
  padding-top: 3px
.lista-ol--cuadro__vineta 
  background-color: #28C65D  
.lista-ol--cuadro__vineta span
  color: $color-sistema-texto
  font-weight: 700  


.slyder-a__bullets
  display: none
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #C99A28
  border: 1px solid #C99A28

.tarjetas-modal .boton.color-acento-botones
  margin: 0 auto
  display: block
  width: fit-content
  padding: 7px 12px

.tarjeta-numerada__numero
  width: 75px
  height: 75px
  top: -25px
  transform: translateX(-55%)
.tarjeta-numerada.color-acento-contenido .tarjeta-numerada__numero
  background-color: transparent !important

.tarj-1, .tarj-2
  height: 110px
.tarj-1
  display: flex
  justify-content: center
  align-items: center
.tarj-1 img
  width: 80px  
  height: 80px 


@media (max-width: $bp-max-md)
  .tarj-1, .tarj-2
    height: auto
  .tarj-1 img
    padding: 20px 0px
    width: 150px  
    height: 150px  

  .slyder-a .horizontal-scroll
    align-items: flex-start !important